body{
	margin:0;
	padding: 0px;
	font-size: 0;
	background-color: yellow;
}
 
.button{
	background: black;
    width: 60px;
    height: 60px;
    left: 48%;
    top: 8%;
    display: inline-block;
    position: fixed;
	font-family: helvetica;
	font-size: 45px;
    border-radius: 10px;
	text-align: center;
	cursor: pointer;
}

.button:hover {
	background: red;
	
}

.contents{
	background: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    opacity: .6;
}
.line{
	background: red;
    width: 5px;
    height: 450px;
    left: 50%;
    top: 25%;
    display: inline-block;
    position: fixed;
}
.circleL{
	background: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    top:40%;
    left:20%;
    position: fixed;

}

.circleR{
	background: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    top:40%;
    left:70%;
    position: fixed;
}



