body{
	margin:0;
	padding: 0px;
	font-size: 0;
	background-color: yellow;
}
 
.button{
	background: black;
    width: 800px;
    height: 30px;
    left: 20%;
    top: 8%;
    display: inline-block;
    position: fixed;
	font-family: helvetica;
	font-size: 45px;
    border-radius: 10px;
	text-align: center;
	cursor: pointer;
}

.button:hover {
	background: red;
	
}

.contents{
	background: red;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    opacity: .7;
}
.line{
	background: red;
    width: 30px;
    height: 480px;
    left: 50%;
    top: 20%;
    display: inline-block;
    position: fixed;
    border-radius: 10px;
}
.circleL{
	background: red;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline-block;
    top:40%;
    left:20%;
    position: fixed;

}
.circleL:hover {
    background: yellow;
}

.circleR{
	background: red;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline-block;
    top:40%;
    left:70%;
    position: fixed;
}



