
body{
	font-family: arial;
	
	margin:35px;
	padding:10px, 0px, 0px, 10px;
	font-size: 0;

}

.YES{
	font-size: 100px;
	color:black;
	margin:15px,115px,15px,15px;
	text-align: center;
	padding-bottom: 10px;
}

.button-wrapper {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	
}

.approval{
	width:1200px;
	height:100px;
	background: yellow;
	position: fixed;
}
.zero{
	margin:-95px 5px 5px 5px;
}
.first{
	margin:5px 5px 5px 5px;
}

.second{
	margin:125px 5px 5px 5px;
}

.third{
	margin:225px 5px 5px 5px;
}

