*{vertical-align: top;}


body{
	background-color: white;
	margin:0;
	padding: 0;


}

.Total{
display: inline-block;
-webkit-transition: 600ms;
    transition: 600ms;}


.movingLeft{
    transform: translate(-100%);        
    -webkit-transform: translate(-100%);
}
.movingRight{
    transform: translate(100%);        
    -webkit-transform: translate(100%);
}
	

.rect1 {
	width:300px;
	height:30px;
	background:red;	
}

.RA {
	width:20px;
	height:30px;
	background:yellow;
}

.rect2 {
	width:950px;
	height:30px;
	background:black;
}

.rect3 {
	width:800px;
	height:30px;
	background:red;	
}

.RB {
	width:20px;
	height:30px;
	background:yellow;
}

.rect4 {
	width:450px;
	height:30px;
	background:black;
}

