body{
	margin:0;
	padding: 0px;
	font-size: 0;
	background-color:white;
}
 .center{
    height:30px;
    width:30px;
    border-radius: 100%;
    background: orange;
    top:65%;
    left: 80%;
    position: fixed;
    background-size: 100% 100%;
 }
 .circle:hover {
 }

.c0{
    height:1000px;
    width:1000px;
    border-radius: 100%;
   /* background: black;*/
    top:-13%;
    left:42%;
    background-image: url("../img/3tier.png");
    background-size: 100% 100%;
    display:none;
    position: fixed;
    opacity:.7;
}
.c0:hover{
    opacity: 1;
}

 .c1{
    height:30px;
    width:30px;
    border-radius: 100%;
    background: red;
    top:8%;
    left: 5%;
    opacity: .6;
    position: fixed;
 }
.c2{
    height:30px;
    width:30px;
    border-radius: 100%;
    background: orange;
    top:22%;
    left: 24%;
    opacity: .6;
    position: fixed;
 }

 .c3{
   height:30px;
    width:30px;
    border-radius: 100%;
    background: orange;
    top:33%;
    left: 38%;
    opacity: .6;
    position: fixed;
 }
 .c4{
   height:30px;
    width:30px;
    border-radius: 100%;
    background: orange;
    top:44%;
    left: 52%;
    opacity: .6;
    position: fixed;
 }


