*{vertical-align: center;}

body{
	font-family: arial;
	
	margin:0;
	padding:0;
	font-size: 1000;
	background-color: white;


}




.c2 {width: 290px; height: 500px; position: fixed;font-size: 100px;
	color: white;text-align: center;}
.c3 {width: 450px; height: 750px;font-size: 550px;
	color: red; text-align: center;}


img{width:100%;}