body{
	display: block;
	font-family: arial;
	margin:-250px;
	padding:-250px;
	font-size: 100;
	background-color: white;
}

.word_split {
	position: fixed;
	top:-300px;
	font-size: 350px;
	letter-spacing: -5px;
	line-height: 95px;
	color: red;
}


.word_split span:hover {
	font-size: 400px;
	font-weight:bold;
	color:yellow;
	


}
