body{
	display: block;
	font-family: arial;
	margin:-250px;
	padding:-250px;
	font-size: 100;
	background-color: white;
}

.word_split {
	position: fixed;
	top:-370px;
	font-size: 350px;
	letter-spacing: -20px;
	line-height: 205px;
	color: red;
}


.word_split span:hover {
	font-size: 200px;
	line-height: 305px;
	font-weight:bold;
	color:yellow;
}

a{
	text-decoration: none;
	color: red;
	}
a:hover {
	color:black;
}