body{
	display: block;
	font-family: arial;
	margin:-850px;
	padding:-150px;
	font-size: 100;

	background-color: white;
}

.word_split {
	position: fixed;
	top:-470px;
	font-size: 450px;
	letter-spacing: -10px;
	line-height: 55px;
	color: red;
}


.word_split span:hover {
	font-size: 500px;
	font-weight:bold;
	color:yellow;
}
a{
	text-decoration: none;
	color: red;
	}

