*{box-sizing: inline-block;}

body{
	margin:20px;
	padding:0;
	font-size: 25px;
}
	

}
.wrapper {
	
	width: 960px; 
	margin: 0 auto 0 auto;
}

.square {
	margin:0 20px 20px 0;
	padding:20px;
	width:250px;
	height:150px;
	background: black;
	color:#fff;
	position: fixed & absolute;

}

.c{
	font-size: 150px;
	fill:white;
	display: inline-block;
	background: #ffff00;
	margin: 15px 15px 50px 15px;

}

.no-left-gutter{margin-left: 0;}
.no-right-gutter{margin-right: 0;}
.whitespace-fix{font-size: 0;}

.c2 {width: 290px; height: 500px;}
.c5 {width: 930px; height: 100px;}
